# Dependencies
node_modules

# Build output
.next
out
dist

# Development
*.log
npm-debug.log*

# Version control
.git
.gitignore

# IDE
.vscode
.idea

# Environment files (if not needed in build)
.env*